body{
    font-family: 'Merriweather', serif;
}
.title-color{
    color: rgb(177, 36, 43);
}
h1{
    font-size: 50px;
}
.half-width{
    width: 60%;
    padding-left: 10%;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width img{
    width: 60%;
}
.link-button{
    text-decoration: none;
    background-color: tomato;
    padding: 5px 10px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.text-middle{
    text-align: center;
}
.second-section{
    padding-right: 10%;
}
.mission-area{
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10%;
    box-shadow: 10px 10px 40px gray;
    border: 5px gray;
}
