body{
    margin: 0;
    font-family: 'Merriweather', serif;
}
.title-color{
    color: rgb(177, 36, 43);
}
.coding{
    padding-top: 45px;
}
.last_image{
    width: 86%;
    margin-top: 66px;
    border-radius: 37px;
}
h1{
    font-size: 50px;
}
h3{
    font-size: 55px;
    border-left: 7px solid;
    padding-left: 18px;
    border-image: linear-gradient(red,black);
    border-image-slice: 1;
}
.half-width{
    width: 50%;
    padding-left: 10%;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
img{
    width: 70%;
}
.link-button{
    text-decoration: none;
    background-color: tomato;
    padding: 5px 10px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.text-middle{
    text-align: center;
}
.second-section{
    padding-left: 80px;
}
.mission-area{
    width: 25%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10%;
    box-shadow: 10px 10px 40px gray;
    border: 5px gray;   
}
.one{
    background-color: rgba(160, 67, 39, 0.075);
}
.two{
    background-color: rgba(39, 39, 160, 0.075);
}
.three{
    background-color: rgba(28, 185, 23, 0.075);
}
.sec3{
    width: 80%;
    margin-right: 150px;
    padding-bottom: 20px;
}
footer{
    height: 120px;
    background-color: black;
    text-align: center;
}
h5{
    font-size: 20px;
    padding-top: 20px;
    color: blanchedalmond;
}
p{
    font-size: 15px;
    color: rgb(175, 172, 167);
    padding-bottom: 20px;
}